* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

/* Header */

header {
    height: 10vh;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

header>a {
    width: 11vw;
    margin-left: 10vw;
}

nav ul {
    height: 10vh;
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    font-weight: 700;
    font-size: 20px;
}

nav li {
    height: 10vh;
    width: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0e0e0e;
    transition: background .5s;
}

nav ul li:hover {
    background-color: #ece6e6;
}

/* Section 1 */

.home-section1 {
    background-color: #F6C34A;
    background-image: url('assets/background-hero.png');
    height: 83.7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-section1>h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
}

.home-section1>p {
    font-weight: 400;
    font-size: 34px;
    line-height: 51px;
}

.button-section1 {
    background-color: #0e0e0e;
    color: #ffff;
    border-radius: 9px;
    font-weight: 700;
    font-size: 23px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.7vh;
    width: 22vw;
    margin-top: 15vh;
    transition: background .5s;
}

.button-section1:hover {
    background-color: #0e0e0ee0;
}

.button-section1:active {
    border: 2px solid #ece6e6;
}

/* Section 2 */

.home-section2 {
    background-color: #0e0e0e;
    color: #ffff;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-section2>h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}

#sobre-nós {
    width: 50vw;
    height: 20vh;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    margin-top: 5vh;
}

/* Section 3 */

.home-section3 {
    background-color: #0e0e0e;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-section3>h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #ffff;
    margin-bottom: 10vh;
}

.depoimentos {
    height: 30vh;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 15vw);
    grid-template-rows: 35vh;

}

article {
    background-color: #ffff;
    border-radius: 10px;
    height: 40vh;
}

figure {
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.7rem;
}

figcaption {
    margin-top: 3rem;
}

figure img {
    height: 6rem;
    width: 6rem;
}

/* Footer */

footer {
    background-color: #F6C34A;
    height: 55vh;
}

.bloco-footer {
    display: flex;
    justify-content: center;
    gap: 7vw;
    margin: 2rem;
}

#footer-logo {
    width: 14vw;
    height: 7vh;
    margin-left: 13.5vw;
    padding-top: 2vh;
}

.bloco-footer ul {
    list-style: none;
}

.bloco-footer li,
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 2rem;
}

footer h3 {
    margin-bottom: 3vh;
}

.footer-links li a {
    color: #0e0e0e;
}

.redes-sociais {
    display: flex;
    gap: 1rem;
}

/* Botão do Whatsapp */

.whatsapp-button {
    height: 5vh;
    width: 5vh;
    background-color: transparent;
    border-radius: 50%;
    position: fixed;
    bottom: 150px;
    right: 85px;
}