* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: lightgoldenrodyellow;
}

main section:nth-child(1) {
    background-color: #F6C34A;
    background-image: url('assets/background-hero.png');
}

main section:nth-child(2) {
    background-color: #0E0E0E;
    color: #FBFBFB;
}

main section:nth-child(3) {
    background-color: #0E0E0E;
}

footer {
    background-color: #F6C34A;
}

/* Header */

#logo {
    height: 5vh;
    position: absolute;
    left: 15%;
    top: 1.5%;
}

.menu-h {
    list-style: none;
    padding: 0;
    height: 5em;
    background-color: #FBFBFB;
}

.menu-h ul {
    text-align: right;
    max-width: 87.5rem;
    list-style: none;
    padding: 0;
}

.menu-h ul li {
    display: inline;
}

.menu-h ul li a {
    color: #0E0E0E;
    padding: 30px;
    display: inline-block;
    text-decoration: none;
    transition: background .5s;
}

.menu-h ul li a:hover {
    background-color: #e2dfdffd;
}

/* Primeira section */

.home-section1 {
    height: 47rem;
    text-align: center;
}

.home-section1>h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: #0E0E0E;
    padding-top: 15rem;
}

.home-section1>p {
    font-weight: 400;
    font-size: 34px;
    line-height: 51px;
}

.button-section1 {
    padding: 5rem;
    padding-top: 6rem;
}

.button-section1>a {
    background-color: #0E0E0E;
    color: #FBFBFB;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    border-radius: 9px;
    padding: 25px 100px;
    transition: background .5s;
}

.button-section1>a:hover {
    background-color: #0e0e0ef3;
}

/* Segunda section */

.home-section2 {
    height: 27rem;
    padding-top: 3rem;
}

.home-section2>h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}

.sobre-nós {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin: auto;
    width: 1000px;
    padding-top: 3rem;
}

/* Terceira section */

.home-section3>h3 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #FBFBFB;
}

.main-home>section>article {
    background-color: #FBFBFB;
    display: inline-block;
    width: 20.625rem;
    height: 23.25rem;
    border-radius: 10px;
    margin: 4rem 1.5rem;
}

.home-section3 {
    text-align: center;
    height: 50rem;
    padding-top: 4rem;
}

.home-section3 article {
    padding: 2rem;
    margin-top: 4rem;
}

.main-home article figure {
    text-align: center;
}

.main-home article figure figcaption {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 17rem;
    margin: auto;
    padding-top: 1.8rem;
}

/* Botão do Whatsapp */

.whatsapp-button {
    height: 5vh;
    width: 5vh;
    background-color: transparent;
    border-radius: 50%;
    position: fixed;
    bottom: 150px;
    right: 100px;
}

/* Footer */

